### Create Dataset

Given a string of monthly passenger numbers (from an excel file), make a dataframe and save it as a csv

In [2]:
# libraries

import pandas as pd
import numpy as np

In [24]:
# UDFs

def clean_data(airport):
    """ Clean airport number data, e.g. by replacing Dutch-style comma decimal with punctuation mark
    """
    
    airport = airport.replace(',', '.')
    airport= airport.replace('\t', ' ')
    airport = airport.split(' ')
    airport = [float(x) for x in airport if x != '']
    
    return airport

def make_column_names(airport):
    """ We know data is from sequential months, make strings to show this 
    """
    month_array = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
    year_array = np.arange(2010, 2021)
    column_titles = []
    for year in year_array:
        for month in month_array:
            column_titles.append(month + "-" + str(year))

    # Truncate it
    column_titles = column_titles[:len(clean_data(airport))]
    
    return column_titles

In [25]:
# this is our original data

Schiphol = "2,94 	2,86 	3,47 	3,01 	4,10 	4,10 	4,73 	4,64 	4,25 	4,31 	3,51 	3,24 3,26 	3,05 	3,66 	4,13 	4,47 	4,51 	5,15 	5,06 	4,68 	4,60 	3,58 	3,53 3,42 	3,30 	3,87 	4,19 	4,54 	4,61 	5,22 	5,14 	4,76 	4,64 	3,69 	3,59 3,39 	3,27 	3,97 	4,33 	4,86 	4,86 	5,32 	5,33 	4,90 	4,75 	3,77 	3,78 3,62 	3,44 	4,08 	4,56 	4,99 	5,03 	5,46 	5,62 	5,19 	5,02 	3,97 	3,97 3,72 	3,60 	4,19 	4,77 	5,38 	5,32 	5,91 	5,94 	5,47 	5,33 	4,33 	4,29 4,11 	4,10 	4,75 	5,24 	5,74 	5,74 	6,37 	6,40 	5,87 	5,78 	4,69 	4,75 4,56 	4,32 	5,16 	5,84 	6,21 	6,15 	6,74 	6,80 	6,27 	6,25 	5,17 	4,98 4,92 	4,74 	5,56 	6,02 	6,40 	6,39 	6,77 	6,84 	6,40 	6,41 	5,31 	5,27 5,01 	4,84 	5,64 	6,11 	6,44 	6,50 	6,72 	6,81 	6,49 	6,43  	5,32  	5,39 5,07"

In [26]:
# execution

airport_series = pd.Series(dict(zip(make_column_names(Schiphol), clean_data(Schiphol))), name = 'Schiphol')
schiphol_df = pd.DataFrame(airport_series)
schiphol_df.head()

          Schiphol
Jan-2010      2.94
Feb-2010      2.86
Mar-2010      3.47
Apr-2010      3.01
May-2010      4.10

In [27]:
schiphol_df.tail()

          Schiphol
Sep-2019      6.49
Oct-2019      6.43
Nov-2019      5.32
Dec-2019      5.39
Jan-2020      5.07

In [28]:
# save

schiphol_df.to_csv('./data/schiphol_millions_pax_monthly.csv')